<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>工具栏模板</title>
</head>
<body>

<div class="tools-board">
	<div class="tools-item" gwtid="${Pencil}"></div>
	<div class="tools-item" gwtid="${Rectangle}"></div>
	<div class="tools-item" gwtid="${Ellipse}"></div>
	<div class="tools-item"></div>
	<div class="tools-item"></div>
	<div class="tools-item"></div>
	<div class="tools-item2">
		<canvas gwtid="${tools-color}" width="102px" height="40px"></canvas>
	</div>
</div>

</body>
</html>