<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>调色板模板</title>
</head>
<body>

<div class="color-board">
	<div class="color-item">
		&nbsp;R <canvas gwtid="${red}" width="129px" height="18px"></canvas>
		<span gwtid="${red-num}"></span>
	</div>
	<div class="color-item">
		&nbsp;G <canvas gwtid="${green}" width="129px" height="18px"></canvas>
		<span gwtid="${green-num}"></span>
	</div>
	<div class="color-item">
		&nbsp;B <canvas gwtid="${blue}" width="129px" height="18px"></canvas>
		<span gwtid="${blue-num}"></span>
	</div>
	<div gwtid="${red-icon}" class="color-icon" style="left: 16px; top: 15px;"></div>
	<div gwtid="${green-icon}" class="color-icon" style="left: 145px; top: 33px;"></div>
	<div gwtid="${blue-icon}" class="color-icon" style="left: 145px; top: 52px;"></div>
</div>

</body>
</html>