<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>调色板模板</title>
</head>
<body>

<div class="color-board">
	<div class="color-item">
		&nbsp;R <canvas gwtid="${red}" width="128px" height="18px"></canvas>
		<span gwtid="${red-num}">255</span>
	</div>
	<div class="color-item">
		&nbsp;G <canvas gwtid="${green}" width="128px" height="18px"></canvas>
		<span gwtid="${green-num}">128</span>
	</div>
	<div class="color-item">
		&nbsp;B <canvas gwtid="${blue}" width="128px" height="18px"></canvas>
		<span gwtid="${blue-num}">128</span>
	</div>
</div>

</body>
</html>