<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>IE浏览器显示界面</title>
</head>
<body>

<div style="width: 300px; height: 300px; border: 1px black dashed; font-size: 13px;">
	<div style="width:240px; height160px; margin: 70px 20px;">
		<h3 style="text-align: center;">糟糕,浏览器不支持HTML5</h3>
		<span style="text-indent: 10px;">推荐浏览器:</span>
		<ul>
			<li style="margin: 5px 8px;"><a href='http://www.mozillaonline.com/' target='_blank'>Firefox</a></li>
			<li style="margin: 5px 8px;"><a href='http://www.google.com/chrome?hl=zh-cn' target='_blank'>Chrome</a></li>
			<li style="margin: 5px 8px;"><a href='http://www.apple.com.cn/safari/download/' target='_blank'>Safari</a></li>
			<li style="margin: 5px 8px;"><a href='http://www.opera.com/' target='_blank'>Opera</a></li>
		</ul>
	</div>
</div>

</body>
</html>