/** Add css rules here for your application. */
BODY {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.div-background {
	background: black;
	opacity: 0.6;
	filter: alpha(opacity = 50);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.gwt-DialogBox {
	color: #BBBBBB;
	font-weight: bold;
	border: 1px black dashed;
}

.gwt-DialogBox .Caption {
	cursor: move;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	text-align: center;
	background: url("images/win_MT.png") -10px;
}

.gwt-DialogBox .dialogContent {
	background-color: black;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.Canvas-DrawingPanel {}

.Canvas-DrawingPanel .Caption {}

.Canvas-DrawingPanel .dialogContent {
	background: white;
	cursor: crosshair;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.ColorBoardBox {
	height: 114px;
	width: 185px;
	border: 1px black dashed;
}

.ColorBoardBox .Caption {
	width: 185px;
}

.ColorBoardBox .dialogContent {
	background-color: black;
}

.color-board {
	position: relative;
	width: 185px;
	height: 94px;
	font-size: 11px;
}

.color-board .color-item {
	float: left;
	height: 18px;
	line-height: 18px;
	margin-top: 10px;
}

.color-board .color-icon {
	position: relative;
	width: 9px;
	height: 9px;
	background: url("images/coloricon.gif");
}

.tools-board {
	width: 125px;
}

.tools-board .tools-item {
	float: left;
	width: 40px;
	height: 40px;
	line-height:40px;
	border: 1px black dashed;
	margin: 10px;
	font-size: 12px;
	text-align: center;
}

.tools-board .tools-item a{
	color:black;
	text-decoration: none;
}

.tools-board .tools-item2 {
	float: left;
	width: 102px;
	height: 40px;
	border: 1px black dashed;
	margin: 10px;
}
